
        /* Global styles */
        .is27017container{
          height: auto;
          width: 100%;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url('../../Images/backgroundimagepink.png');
          background-size: cover;
          background-position: center;
          background-attachment: fixed;
      }

/* Main title styling */
.maintitle1 {
  font-size: 35px;
  color: white;
}

/* Image styling */
.is27017img {
  height: 85%;
  width: 85%;
}

/* First row grid layout */
.is27017firstrow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: auto;
  background-image: url('../../Images//backgroundregulations2-overlay.jpg');
}

/* First row column 1 styling */
.is27017scol1 {
  grid-area: 1 / 1 / 2 / 2;
  padding: 50px;
  padding-top: 100px;
}

/* First row column 2 styling */
.is27017scol2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

/* Second row grid layout */
.is27017secondrow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: auto;
  background-color: white;
}

/* Second row column 1 styling */
.is27017secondrowcol1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

/* Second row column 2 styling */
.is27017secondrowcol2 {
  grid-area: 1 / 2 / 2 / 3;
  padding: 50px;
  padding-top: 100px;
}

/* Image styling for the second row */
.iso27017img2 {
  height: 75%;
  width: 75%;
}

/* Third row grid layout */
.is27017thirdrow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: auto;
  background-color: rgb(31, 31, 99);
}

/* Image styling for the third row */
.is27017img3 {
  height: 80%;
  width: 85%;
}

/* Third row column 1 styling */
.is27017thirdrowcol1 {
  grid-area: 1 / 1 / 2 / 2;
  padding-top: 100px;
  margin: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Additional styling for lists in the third row */
.is27017thirdrowcol1 ul {
  list-style-type: none;
  padding: 0;
}

.is27017thirdrowcol1 li {
  margin-bottom: 10px;
}

/* Main title styling for the third row */
.maintitle3 {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

/* Third row column 2 styling */
.is27017thirdrowcol2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

/* Subtitle styling */
.maintitle5 {
  font-size: 2rem;
  color: navy;
}

/* Additional subtitle styling */
.maintitle44 {
  font-size: 2.2rem;
  color: navy;
}

/* Image styling for the fourth row */
.is27017img4 {
  width: 80%;
  height: 60%;
}

/* Fourth row grid layout */
.is27017fourthrow {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: auto;
  background: transparent;
}

/* Fourth row column 1 styling */
.is27017fourthrowcol1 {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  padding: 50px;
  background: transparent;
}

/* Fourth row column 2 styling */
.is27017fourthrowcol2 {
  grid-area: 1 / 2 / 2 / 3;
  padding: 50px;
}
.is27017privacyprosinglecolumn {
  
padding: 50px;
border: 1.5px solid rgb(15, 15, 65);
border-radius: 10px;
width: 100%; /* Set width to 100% */
box-sizing: border-box;
height: auto;
}

/* Responsive styles for screens with a maximum width of 760px */
@media screen and (max-width: 760px) {
  /* Update the first row layout to a single column */
  .is27017firstrow {
      grid-template-columns: 1fr;
  }
  /* Reset grid area for both columns in the first row */
  .is27017scol1, .is27017scol2 {
      grid-area: auto;
  }

  /* Update the second row layout to a single column */
  .is27017secondrow {
      grid-template-columns: 1fr;
  }
  /* Reset grid area for both columns in the second row */
  .is27017secondrowcol1, .is27017secondrowcol2 {
      grid-area: auto;
  }

  /* Update the third row layout to a single column */
  .is27017thirdrow {
      grid-template-columns: 1fr;
  }
  /* Reset margin and grid area for both columns in the third row */
  .is27017thirdrowcol1, .is27017thirdrowcol2 {
      margin: 10px;
      grid-area: auto;
  }

  /* Update the fourth row layout to a single column */
  .is27017fourthrow {
      grid-template-columns: 1fr;
  }
  /* Reset grid area for both columns in the fourth row */
  .is27017fourthrowcol1, .is27017fourthrowcol2 {
      grid-area: auto;

  }
  .is27017fourthrowcol2{
    margin-left: -15px;
    margin-right: -15px;
  }
  
  /* Additional styling for contact form */
  .contactformm {
      margin-top: -10vh;
  }
}
