
            .gdprcontainer {
              height: auto;
              width: 100%;
              min-height: 100vh;
             
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: url('../../Images/backgroundimagepink.png');
              background-size: cover;
              background-position: center;
              background-attachment: fixed;
            }
            .maintitle{
              font-size: 35px;
            }
            .subtitle{
              font-size: 14px;
              color: navy;
            }
            .subtitle22{
              font-size: 14px;
              color: black;
            }
            .maintitle2{
              font-size: 35px;
              color: white;
            }
            .subtitle2{
              font-size: 14px;
              color: white;
            }
            .gdprfirstrow {
          
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: 1fr;
              grid-column-gap: 0px;
              grid-row-gap: 0px;
              min-height: 75vh;
              background-image: url('../../Images/GDPR\ Regulation.png');
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
    
            .gdprfirstrowcol {
           
             padding: 50px;
              background: transparent;
              padding-top: 20vh;
              grid-area: 1 / 1 / 2 / 2;
              min-height: 75vh;
   line-height: 1.6;
              color:rgb(35, 35, 104);
              font-weight: 600;
              z-index: 2; 
            }
            .gdprfirstrowco2 {
              grid-area: 1 / 2 / 2 / 3;
              min-height: 75vh;
              padding: 50px;
             background: transparent;
            }
            
            .gdprsecondrow {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: 1fr;
              grid-column-gap: 0px;
              grid-row-gap: 0px;
              margin-bottom: -10vh;
            }
            .gdprsecondrowcol1 {
              grid-area: 1 / 1 / 2 / 2;
              min-height: 60vh;
         display: flex;
         justify-content: center;
         align-items: center;
          
            }

            .gdprimg{
              height: 70%;
              width: 70%;
            }
            .whatisgdpr{
              width: 80%;
              height: 80%;
            }
            .gdprsecondrowcol2 {
              grid-area: 1 / 2 / 2 / 3;
              min-height: 60vh;
              padding: 50px;
             
            }
            
            
            
             
            .gdprthirdrow {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: 1fr;
              grid-column-gap: 0px;
              grid-row-gap: 0px;
              margin-bottom: -15vh;
              background-image:linear-gradient(rgb(13, 13, 61),rgb(49, 9, 101),rgb(12, 12, 69)) ;
            }
            .gdprthirdrowcol1 {
              grid-area: 1 / 1 / 2 / 2;
              min-height: 60vh;
              padding: 50px;
        
            }
            .gdprthirdrowcol2 {
              grid-area: 1 / 2 / 2 / 3;
              min-height: 60vh;
              padding: 50px;
             
            }
              
            .gdprfourthrow {
              display: grid;
              grid-template-columns: 0.6fr 1fr;
              grid-template-rows: 1fr;
              grid-column-gap: 0px;
              grid-row-gap: 0px;
              padding-top: 50px;
             background: transparent;
            }
            .gdprfourthrowcol1 {
              grid-area: 1 / 1 / 2 / 2;
              min-height: 75vh;
              padding: 50px;
            
            }
            .info-container {
              margin-top: 20px;
          }
  
          .point {
              margin-bottom: 15px;
          }
          .submaintitle{
            color: black;
          }
          .subsubtitle{
            line-height: 1.5;
            color: black;
          }
            .gdprfourthrowcol22 {
              grid-area: 1 / 2 / 2 / 3;
           height: auto;
     margin-top: 100px;
     padding-top: 10px;
     padding-right: 70px;
              line-height: 1.6; 
              
                       }
            .gdprfifthrow {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: 1fr;
              grid-column-gap: 0px;
              grid-row-gap: 0px;
              min-height: 75vh;
            }
            
            .gdprfifthrowcol {
              grid-area: 1 / 1 / 2 / 2;
              background: transparent;
            }
            .gdpranimation2 {
              display: flex;
              grid-template-columns: 1fr;
              grid-template-rows: 1fr;
              grid-column-gap: 0px;
              grid-row-gap: 0px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100vh;
              width: 100vw;
              margin: 0;
            background: transparent;
              padding-top: 30vh;
            }
            .gdpranimationText{
              color: white;
            }
          .gdprdpotext{
            color: black;
            font-size: 14px;
          }
          .maintitle4{
            color: navy;
            font-size: 30px;
            margin-bottom: 75vh;
          }
      .gdprbox {
       
        
        width: 20vw;
        position: absolute;
        transition: transform 0.5s ease-in-out;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */

        /* Border */
        border: 2px solid;
        border-image: linear-gradient(to right, purple, red, blue);
        border-image-slice: 1;
      }
  
      .gdprbox1 { 
        background-color: transparent;
        background-image: linear-gradient(180deg,#000000 0%,#47138E 100%);
            border: 2px solid rgb(2, 2, 58);
        color: #fff; /* Set your desired text color */
        text-align: center;
        font-size: 18px; /* Set your desired font size */
        
        flex: 1;
        position: absolute;
        transition: transform 0.5s ease-in-out;
        width: 25vw; /* Fixed width */
       height: auto; 
       padding: 20px;
        display: grid; /* Add display grid if needed */
        box-shadow: 28px 18px 18px rgba(0, 0, 0, 0.808); /* Adjust the values as needed */

       
        border-image-slice: 1;
      border-radius: 7px;
      }
              .start-animation .gdprrslide-tr {
                background-color: transparent;
                background-image: linear-gradient(180deg,#000000 0%,#47138E 100%);
                border: 2px solid rgb(2, 2, 58);
                color: black; 
                text-align: center;
                font-size: 18px;
                position: relative;
                -webkit-animation: slide-tr 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-tr 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                flex: 1;
                position: absolute;
                transition: transform 0.5s ease-in-out;
           padding: 10px;
                width: 25vw; 
               height: auto; 
               box-shadow:  18px 9px 9px rgba(0, 0, 0, 0.808); 
               border-image-slice: 1;
               border-radius: 7px;
              }
              @-webkit-keyframes slide-tr {
                0% {
                  -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
                }
                100% {
                  -webkit-transform: translateY(-230px) translateX(230px);
                  transform: translateY(-230px) translateX(230px);
                }
              }
              @keyframes slide-tr {
                0% {
                  -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
                }
                100% {
                  -webkit-transform: translateY(-320px) translateX(450px);
                  transform: translateY(-320px) translateX(450px);
                }
              }
              .start-animation .gdprrslide-tl {
                background-color: transparent;
                background-image: linear-gradient(180deg,#000000 0%,#47138E 100%);
                    border: 2px solid rgb(2, 2, 58);
                color: #fff; 
                text-align: center;
                font-size: 18px; 
                -webkit-animation: slide-tl 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-tl 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                flex: 1;
                position: absolute;
                transition: transform 0.5s ease-in-out;
                width: 25vw; 
              height: auto;
              padding: 20px;
              box-shadow:  18px 9px 9px rgba(0, 0, 0, 0.808); 
              border-image-slice: 1;
              border-radius: 7px;
              }

            

              @-webkit-keyframes slide-tl {
                0% {
                  -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
                }
                100% {
                  -webkit-transform: translateY(-230px) translateX(-230px);
                  transform: translateY(-230px) translateX(-230px);
                }
              }
              @keyframes slide-tl {
                0% {
                  -webkit-transform: translateY(0) translateX(0);
                  transform: translateY(0) translateX(0);
                }
                100% {
                  -webkit-transform: translateY(-320px) translateX(-450px);
                  transform: translateY(-320px) translateX(-450px);
                }
              }
              .start-animation .gdprrslide-right {
                background-color: transparent;
                background-image: linear-gradient(180deg,#000000 0%,#47138E 100%);
                    border: 2px solid rgb(2, 2, 58);
                text-align: center;
                font-size: 18px; 
                -webkit-animation: slide-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                flex: 1;
                position: absolute;
                transition: transform 0.5s ease-in-out;
                width: 25vw;
                height: auto; 
                padding: 20px;
                box-shadow:  18px 9px 9px rgba(0, 0, 0, 0.808); 
                border-image-slice: 1;
                border-radius: 7px;
              }
              @-webkit-keyframes slide-right {
                0% {
                  -webkit-transform: translateX(0);
                  transform: translateX(0);
                }
                100% {
                  -webkit-transform: translateX(450px);
                  transform: translateX(450px);
                }
              }
              @keyframes slide-right {
                0% {
                  -webkit-transform: translateX(0);
                  transform: translateX(0);
                }
                100% {
                  -webkit-transform: translateX(450px);
                  transform: translateX(450px);
                }
              }
              .start-animation .gdprrslide-left {
                background-color: transparent;
                background-image: linear-gradient(180deg,#000000 0%,#47138E 100%);
                    border: 2px solid rgb(2, 2, 58);
                color: #fff; 
                text-align: center;
                font-size: 18px; 
                -webkit-animation: slide-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                flex: 1;
                position: absolute;
                transition: transform 0.5s ease-in-out;
                width: 25vw; 
               height: auto; 
               padding: 20px;
                display: grid; 
                box-shadow: 18px 9px 9px rgba(0, 0, 0, 0.808); 
                border-image-slice: 1;
                border-radius: 7px;
              }
              @-webkit-keyframes slide-left {
                0% {
                  -webkit-transform: translateX(0);
                  transform: translateX(0);
                }
                100% {
                  -webkit-transform: translateX(-450px);
                  transform: translateX(-450px);
                }
              }
              @keyframes slide-left {
                0% {
                  -webkit-transform: translateX(0);
                  transform: translateX(0);
                }
                100% {
                  -webkit-transform: translateX(-450px);
                  transform: translateX(-450px);
                }
              }
             












@media(max-width:760px){
  .gdprfirstrow {
          
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    background-image: url('../../Images/GDPR\ Regulation.png');
    background-repeat: no-repeat;
  background-size: 100% 52%;
 margin-bottom: -40vh;
    
  }
  .maintitle{
    font-size: 12px;
  }
  .subtitle{
    font-size: 8px;
    color: navy;
  }
  .subtitle22{
    font-size: 9px;
    color: black;
  }
  .maintitle2{
    font-size: 13px;
    color: white;
  }
  .subtitle2{
    font-size: 8px;
    color: white;
  }
  .gdprfirstrowcol {
     background: transparent;
    padding-right: 50px;
    padding-top: 50px;
    padding-left: 10px;
     grid-area: 1 / 1 / 2 / 2;
     color:rgb(35, 35, 104);
     font-weight: 600;
 
   }
   .gdprfirstrowco2 {
    grid-area: 1 / 2 / 2 / 3;
   
 
   background: transparent;
  }
  .gdprsecondrow {
    grid-template-columns: 1fr;
    height: auto;
}

.gdprsecondrowcol1 {
    grid-area: auto; /* Reset grid-area for single column layout */
   min-height: auto; /* Reset min-height for single column layout */
    padding: 20px; /* Adjust padding for better spacing in single column layout */
}
.gdprsecondrowcol2 {
  grid-area: auto; /* Reset grid-area for single column layout */
height: auto; /* Reset min-height for single column layout */
  padding: 20px;
 margin-bottom: 50px; /* Adjust padding for better spacing in single column layout */
}
.gdprsecondrowcol2 {

  min-height: 40vh;
  padding: 50px;
 margin-top: -10vh;
}
.gdprthirdrow {
  grid-template-columns: 1fr;
  
}
.gdprthirdrowcol1 {
  grid-area:auto;
  min-height: auto;
}
.gdprthirdrowcol2 {
  grid-area: auto;
  min-height: auto;
padding-left: 20px;
 padding-right: 20px;
 padding-bottom: -50px;
 padding-top: 0px;
  display: flex;
justify-content: center;
align-items: start;
}
.whatisgdpr{
  padding: 20PX;
}
.gdprfourthrow {
  grid-template-columns: 1fr;
}

.gdprfourthrowcol1,
.gdprfourthrowcol2 {
  grid-area: auto; /* Reset grid-area for single column layout */
  min-height: auto; /* Reset min-height for single column layout */
  padding: 20px; /* Adjust padding for better spacing in single column layout */
}
.needgdpr{
  width: 100%;
  height: 100%;
}
.gdprfifthrowcol {
  min-height: 50vh; /* Adjust height for smaller screens */
}

.gdpranimation2 {
  padding-top: 20vh; /* Adjust padding for smaller screens */
}
.gdpranimation2 {
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
  margin: 0;
  background-color:white;
 
}
.gdprfifthrow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 37.5vh; /* Reduce the height by 50% */
}

.gdprfifthrowcol {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(20, 20, 58);
}
.subtitle3{
  color: white;
  font-size: 8px;
}
.maintitle4{
  color: navy;
  margin-bottom: 100vh;
}

.gdpranimationText{
  font-size: 12px;
}

.gdprbox {
       
        
  width: 10vw;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */

  /* Border */
  border: 2px solid;
  border-image: linear-gradient(to right, purple, red, blue);
  border-image-slice: 1;
}

.gdprbox1 { 
  background-color: transparent;
  background-image: linear-gradient(180deg,#000000 0%,#47138E 100%);
      border: 2px solid rgb(2, 2, 58);
  color: #fff; /* Set your desired text color */
  text-align: center;
  font-size: 12px; /* Set your desired font size */
  
  flex: 1;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  width: 30vw; /* Fixed width */
 height: auto; 
 padding: 20px;
  display: grid; /* Add display grid if needed */
  box-shadow: 28px 18px 18px rgba(0, 0, 0, 0.808); /* Adjust the values as needed */

 
  border-image-slice: 1;
border-radius: 7px;
}

.start-animation .gdprrslide-tr {
  background-color: transparent;
  background-image: linear-gradient(180deg,#000000 0%,#47138E 100%);
  border: 2px solid rgb(2, 2, 58);
  color: black; 
  text-align: center;
  font-size: 18px;
  position: relative;
  -webkit-animation: slide-trr 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-trr 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  flex: 1;
  position: absolute;
  transition: transform 0.5s ease-in-out;
padding: 8px;
  width: 30vw; 
 height: auto; 
 box-shadow:  18px 9px 9px rgba(0, 0, 0, 0.808); 
 border-image-slice: 1;
 border-radius: 7px;
}
@-webkit-keyframes slide-trr {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-130px) translateX(130px);
    transform: translateY(-130px) translateX(130px);
  }
}
@keyframes slide-trr {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-120px) translateX(130px);
    transform: translateY(-220px) translateX(130px);
  }
}


.start-animation .gdprrslide-tl {
  background-color: transparent;
  background-image: linear-gradient(180deg,#000000 0%,#47138E 100%);
      border: 2px solid rgb(2, 2, 58);
  color: #fff; 
  text-align: center;
  font-size: 18px; 
  -webkit-animation: slide-tll 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-tll 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  flex: 1;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  width: 30vw; 
height: auto;
padding: 9px;
box-shadow:  18px 9px 9px rgba(0, 0, 0, 0.808); 
border-image-slice: 1;
border-radius: 7px;
}



@-webkit-keyframes slide-tll {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-130px) translateX(-130px);
    transform: translateY(-130px) translateX(-130px);
  }
}
@keyframes slide-tll {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-150px) translateX(-130px);
    transform: translateY(-200px) translateX(-130px);
  }
}



.start-animation .gdprrslide-right {
  background-color: transparent;
  background-image: linear-gradient(180deg,#000000 0%,#47138E 100%);
      border: 2px solid rgb(2, 2, 58);
  text-align: center;
  font-size: 18px; 
  -webkit-animation: slide-rightt 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-rightt 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  flex: 1;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  width: 30vw;
  height: auto; 
  padding: 15px;
  box-shadow:  18px 9px 9px rgba(0, 0, 0, 0.808); 
  border-image-slice: 1;
  border-radius: 7px;
}
@-webkit-keyframes slide-rightt {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
}
@keyframes slide-rightt {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateY(100px)translateX(150px);
    transform: translateY(100px)translateX(130px);
  }
}
.start-animation .gdprrslide-left {
  background-color: transparent;
  background-image: linear-gradient(180deg,#000000 0%,#47138E 100%);
      border: 2px solid rgb(2, 2, 58);
  color: #fff; 
  text-align: center;
  font-size: 18px; 
  -webkit-animation: slide-leftt 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-leftt 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  flex: 1;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  width: 30vw; 
 height: auto; 
 padding: 8px;
  display: grid; 
  box-shadow: 18px 9px 9px rgba(0, 0, 0, 0.808); 
  border-image-slice: 1;
  border-radius: 7px;
}
@-webkit-keyframes slide-leftt {
  0% {
    -webkit-transform: translateY(-120px)translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateY(150px)translateX(-130px);
    transform: translateY(180px)translateX(-130px);
  }
}
@keyframes slide-leftt {
  0% {
    -webkit-transform:translateY(150px) translateX(0);
    transform: translateY(150px)translateX(0);
  }
  100% {
    -webkit-transform:translateY(150px) translateX(-130px);
    transform: translateY(100px)translateX(-130px);
  }
}



}