.footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 20px;
    color: white;
    margin-top: 90vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: 'poppins';
}

.footer {
    background-color: black;
    color: #fff;
    width: 100%;
    display: grid;
    row-gap: 2rem;
    padding: 1rem 1.5rem;
    position: relative;
    margin-top: -1rem;
}

.footer-company-info {
    display: grid;
    row-gap: 16px;
}

.footer-company-info .footer-img {
    display: flex;
    align-items: center;
}

.footer-company-info .footer-img span {
    font-size: 1.75rem;
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
}

.footer-company-info .infos {
    display: grid;
    color: #cccccc;
}

.footer-company-info .footer-icons {
    display: flex;
    align-items: center;
    column-gap: .75rem;
}

.footer-company-info .footer-icons svg {
    padding: .75rem;
    height: calc(32px + .75rem);
    width: calc(32px + .75rem);
    border-radius: 50%;
    background-color: #42555f;
    color: #cccccc;
    cursor: pointer;
}

.footer-links {
    display: grid;
    row-gap: 20px;
}

.footer-links ul {
    display: grid;
    row-gap: 8px;
    list-style: none;
}

.footer-links ul li:first-child {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 500;
}

.footer-links ul li:not(:first-child) {
    color: #cccccc;
    cursor: pointer;
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.footer-form label {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}

.footer-form input {
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
}

@media (min-width: 648px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-links {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1012px) {
    .footer {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1440px) {
    .footer {
        padding: 1rem calc((100vw - 1440px) / 2);
    }
}
.navbar-logo{
    height: 10px;
    width: 10px;
}